@model List<XMLValidator.Models.XmlValidationError>

@{
    ViewData["Title"] = "Validation Error";
    Layout = "_Layout";
}

<div class="text-center" style=";margin-right:100px;">
    <h1 class="display-4" style="color:dodgerblue;margin-top:25px;margin-bottom:25px;margin-right:70%;">Validator Result</h1>
</div>

<p>The following errors were found when validating XML file <strong>@ViewBag.XMLFileName</strong> against the schema <strong>@ViewBag.SchemaFileName</strong></p>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>XML Element</th>
                <th>Error Type</th>
                <th>Line Number</th>
                <th>Column Number</th>
                <th>Error Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var error in Model)
            {
                <tr>
                    <td>@error.Element</td>
                    <td>Error</td>
                    <td>@error.Line</td>
                    <td>@error.Column</td>
                    <td>@error.Message</td>
                </tr>
            }
        </tbody>
    </table>

}
